<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserManService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UserManService.Properties.Settings>
            <setting name="RouterIp" serializeAs="String">
                <value>192.168.88.1</value>
            </setting>
            <setting name="ApiPort" serializeAs="String">
                <value>8728</value>
            </setting>
            <setting name="ApiUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="ApiPassword" serializeAs="String">
                <value>knt11337799</value>
            </setting>
            <setting name="Header" serializeAs="String">
                <value>IME LOKALA \ \Connect to Wireless Network \and open you web browser. \Put the Password in required field, \then click login button.</value>
            </setting>
            <setting name="GarsonFolder" serializeAs="String">
                <value>c:\Vauceri</value>
            </setting>
            <setting name="PSHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PSName" serializeAs="String">
                <value>Primarni</value>
            </setting>
            <setting name="Caffe" serializeAs="String">
                <value>KraftNT</value>
            </setting>
            <setting name="PSEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GarsonEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GarsonHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="GarsonDatabase" serializeAs="String">
                <value>C:\Program Files (x86)\2D Soft\Garson Pos 6\Client\Pos\POS.FDB</value>
            </setting>
            <setting name="GarsonFiscalNumber" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="GarsonProfile" serializeAs="String">
                <value>120min</value>
            </setting>
            <setting name="Stanica1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stanica2" serializeAs="String">
                <value>0</value>
            </setting>
        </UserManService.Properties.Settings>
    </userSettings>
</configuration>